# Ignore all other specific folders and files
MP1_Sources/
MP1_Sources-1.zip
MP2_Sources/
MP2_Sources.zip
MP3_Sources/
MP3_Sources.zip
MP4_Sources/
MP4_Sources.zip
MP5_Sources/
MP5_Sources.zip
MP5_Sources_inheritance/